.navbar{
    display: flex;
    height: 100px;
    width: 100vw;
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
    align-items: center;
    font-size: var(--navbar-font-size);
    font-weight: bold;
    overflow: hidden;
    /* box-shadow: var(--box-shadow-cards); */
}

.logo__container{
    position: relative;
    height: 100%;
    width: 25%;
    object-position: center;
    text-align: center;
}
.logo__container img{
    height: 100%;
}

.logo__container img:first-child{
    position: absolute;
    transform: translateX(-50%);
    object-position: 0 -50px;
    height: 200%;
}



.logo__line {
    position: absolute;
    right: -20px;
    width: 40px !important;
    height: 118px !important;
}

.open__links{
    display: none;
}

.links__container{
    display: flex;
    width: 50%;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    color: var(--grey-color)

}

.links__container ul{
    
}

.links__container li a{
    position: relative;
    cursor: pointer;
}

.links__container li a::after{
    content: '';
    background-color: var(--grey-color);
    width: 0%;
    height: 5px;
    left: 0;
    bottom: -5px;
    position: absolute;
    
    transition: width 0.2s;
}

.links__container li a:hover::after{
    width: 100%;
}

.links__special__link{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px ;
    background-color: var(--blue-color);
    color: #ffffff;   
}

.links__special__link a::after{
    background-color: #ffffff !important;
}

.active::after{
    width: 100% !important;
}

.phone__container{
    position: relative;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}


.phone__box{
    background-color: var(--blue-color);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: scale 0.2s;
    display: flex;
    align-items: center;
    position: relative;
}

.phone__box img {
    width: 33px;
}

.phone__box:hover{
}


.phone__line{
    position: absolute;
    left: -62px;
    bottom: -62px;
    width: 250px !important;
    height: 140px !important;
}

.mobile__links{
    position: absolute;
    background-color: var(--blue-color);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    flex-direction: column;
    max-height: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

 .active__mobile__menu{
    color: #ffffff !important;
    background-color: var(--blue-color);
}

.mobile__background{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #0000008f;
    margin-top: 100px;
    top: 0;
}

@media (max-width: 730px)  {
    .navbar{
        justify-content: space-around;
    }

    .links__container{
        width: 20%;
    }

    .links__container li:not(:first-child){
        display: none;
    }
    .links__container li span:hover::after{
        width: 0%;
    }
    .mobile__links{
        color: #ffffff;
        display: flex;
        z-index: 10000;
    }

    .mobile__background{
        display: block;
    }
    .open__links{
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 40px;
        height: 100%;
        color: var(--blue-color);
        cursor: pointer;
    }

    .logo__container{
        width: 40%;
    }

    .phone__container{
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .phone__box img{
        width: 23px;
    }

    .phone__box{
        padding: 3px;
        font-size: 13px;
    }
  }