@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  /*COLORS*/
  
  --grey-color:#1a1b1b;
  --blue-color:#47a0e2;

  /*FONT-SIZES*/

  --navbar-font-size: 1.5rem;
  --titles-font-size: 4rem;
  --subtitles-font-size:3rem;
  --plain-text-size:2rem;
  --subplain-text-size:1.3rem;

  --slogan-text-small:2.3vmax;
  --slogan-text-medium:3.2vmax;
  --slogan-text-text-box:4.4vmax;
  --slogan-text-big: 5.8vmax;
 
  --footer-titles-font-size: 6vmax;
  --footer-subtitles-font-size:3vmax;

  /*BOX SHADOW VALUES*/

  --box-shadow-cards:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  /*IMAGE SIZES AND CONTAINERS*/

  --width-container:80%;
  --height-container : 70%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

*{
  padding: 0;
  margin: 0;
}


@media (max-width: 1400px)  {
  :root{
    /*FONT-SIZES*/
  
    --subtitles-font-size:3rem;
    --plain-text-size:1.6rem;
  
  }
    
}


@media (max-width: 999px)  {
  :root{
    /*FONT-SIZES*/
  
    --navbar-font-size: 1.1rem;

    --plain-text-size:1.3rem;
    
    --titles-font-size:2.5rem;
  
    --subtitles-font-size:1.7rem;
  }
    
}

@media (max-width: 740px)  {
  :root{
    /*FONT-SIZES*/

    --footer-titles-font-size: 2.3rem;
    --footer-subtitles-font-size:1.5rem;
  
  }
    
}


@media (max-width: 630px)  {
  :root{
    /*FONT-SIZES*/

    
    
    --plain-text-size:1.1rem;
    
    --titles-font-size:1.5rem;
    --subtitles-font-size:1.0rem;
  
    --subplain-text-size:0.8rem;

    --plain-text-size:1.0rem;

    
    --footer-titles-font-size: 1.3rem;
    --footer-subtitles-font-size:1.0rem;
  
  }
    
}

@media (max-width: 400px)  {

  :root{
  --footer-titles-font-size: 1.3rem;
  --footer-subtitles-font-size:0.8rem;
  }      
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #35a7ff;
}